:root {
    --color-blue: #C1DCDC;

}

* {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.center-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start header */
.con-icon {
    justify-content: space-between;
    list-style: none;
    display: inline;
    display: flex;
    padding: 0px;
    margin-top: 10px;
    width: 100px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar li {
    padding-left: 10px;
}

/* end header */
/* start home */
.home {
    background-color: var(--color-blue);
    border-radius: 15px;
}

.bor {
    width: 83%;
    height: 76%;
    border-top-left-radius: 59%;
    border-bottom-left-radius: 53%;
    border-top-right-radius: 47%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: end;
}

.bor::after {
    content: url(../img/Vector\ 186.png);
    position: absolute;
    left: -53%;
    top: 42%;
}

.bor::before {
    content: url(../img/Vector\ 187.png);
    position: absolute;
    top: -34%;
    left: 81%;
}

.home input {
    border: none;
    padding: 5px 5px 5px 10px;
    width: 75%;
    height: 50px;
    border-radius: 10px;
}

.icon-inp {
    background-color: var(--color-blue);
    width: 30px;
    height: 30px;
    margin-left: -40px;
    padding: auto;
    border-radius: 5px;
    
}

.befor {
    position: relative;
}

.befor::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 75%;
}

/* end home */