$color-blue: #c1dcdc;

* {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

body {
    height: 10000vh;
}

.css-button-arrow--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: $color-blue;

    &:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left: 8px;
    }

    &:hover::after {
        opacity: 1;
        right: 10px;
    }

    &::after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
    }
}

// start nav

.navbar {
    & button {
        border: none;

        &:focus {
            box-shadow: none;
        }

    }

    & li {
        padding-left: 10px;
    }

    & .con-icon {
        justify-content: space-between;
        list-style: none;
        display: inline;
        display: flex;
        padding: 0px;
        margin-top: 10px;
        width: 100px;
    }
}


// end nav
// start home
.home {
    background-color: $color-blue;
    border-radius: 15px;

    input {
        border: none;

        padding: 5px {
            left: 10px;
        }

        ;

        width: 75%;
        height: 50px;
        border-radius: 10px;
    }

    .bor {
        width: 83%;
        height: 76%;
        border-top-left-radius: 59%;
        border-bottom-left-radius: 53%;
        border-top-right-radius: 47%;
        background-color: black;
        display: flex;
        align-items: flex-end;
        position: relative;
        justify-content: end;

        &::after {
            content: url(../img/Vector\ 186.png);
            position: absolute;
            left: -53%;
            top: 42%;
        }

        &::before {
            content: url(../img/Vector\ 187.png);
            position: absolute;
            top: -39%;
            left: 77%;
            transform: rotate(309deg);
        }
    }

    .befor {
        position: relative;

        &::before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: black;
            position: absolute;
            left: 75%;
        }
    }

    .icon-inp {
        background-color: $color-blue;
        width: 30px;
        height: 30px;
        margin-left: -40px;
        padding: auto;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// end home

// start menu
.menu {
    & h2 {
        font-size: 35px;
    }

    & p {
        font-size: 20px;
    }

    & button {
        color: black;
    }

    & .card {
        transition: 1s;
        border: none;
        padding: 10px;
        margin: 1rem;

        &:hover {
            padding-top: 20px;
            transition: 1s;
            margin-top: -20px;
        }

        & p {
            color: #00000054;
        }

        & h4 {
            padding: 0 {
                top: 10px;
            }

            ;
        }
    }
}

// end menu
// start about
.about {
    .card {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: 75px;
            height: 75px;
            background-color: $color-blue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// end about
// start categor
.categor{
    .con-bor{
        background-color: $color-blue;
    }
    button{
        background-color: white;
        color: black;
    }
    .con-pa{
        margin-top: -85px;
    }
}
// end categor

// start media

@media (max-width: 991px) {
    .icon-hed {
        display: none;
    }

    .con-icon {
        justify-content: space-between;
        list-style: none;
        display: inline;
        display: flex;
        padding: 0px;
        margin-top: 10px;
        width: 51px;
    }

    .bor::after {
        display: none;
    }

    .bor::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .castam {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .home {
        text-align: center;

        & input {
            width: 100%;
        }

        & .befor::before {
            left: 100%;
        }
    }

    .menu .card {
        text-align: center;
    }
}

@media (max-width: 767px) {}

// xl
@media (max-width: 1400px) and (min-width: 1200px) {
    .bor::before {
        top: -46%;
        left: 74%;
        transform: rotate(304deg);
    }
}

/* l */
@media (max-width: 1200px) and (min-width: 766px) {
    .bor::before {
        top: -46%;
        left: 65%;
        transform: rotate(304deg);
    }
}

// m
@media (min-width: 766px) and (max-width: 991px) {
    .bor::after {
        left: -74%;
        top: 26%;
    }

    .bor::before {
        top: -38%;
        left: 61%;
        transform: rotate(309deg);
    }

    .bor img {
        height: 117%;
    }
}

// end media


/* animation scale-up-br */

.move-up-left {
    -webkit-animation: scale-up-br 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-br 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

@keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

/* top */
.move-top,
.befor::before {
    -webkit-animation: slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {

        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {

        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



/* left */

.navbar li,
.move-left {
    -webkit-animation: scale-up-hor-left 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}