@use './contant/animation';
@use './contant/var'as *;
@use './contant/media';
@use './padgs/header';
@use './padgs/body';
@use './padgs/footer';

* {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}


.css-button-arrow--sky {
    min-width: 130px;
    height: 40px;
    color: $color-white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: $color-blue;

    &:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left: 8px;
    }

    &:hover::after {
        opacity: 1;
        right: 10px;
    }

    &::after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
    }
}
