@use '../padgs/body' as *;
@use '../padgs/header' as *;
@use '../padgs/footer' as *;


@media (max-width: 767px) {

    // start home
    .home {
        text-align: center;

        & input {
            width: 100%;
        }

        & .befor::before {
            left: 100%;
        }

        .castam {
            display: flex;
            justify-content: center;
            align-items: end;
        }
        h1{
            font-size: 3rem;
        }
    }

    // end home
    // start menu
    .menu .card {
        width: 14rem;
        text-align: center;
        margin: 0.3rem;
        h4,p{
            font-size: 1.2rem;
        }
    }

    // end menu
    // start categor
    .categor {
        img {
            width: 50%;
        }

        .con-pa {
            margin-top: 0px;
        }

        .con-pa-2 {
            margin-top: 0px;
        }
    }
    // end categor
    // start comment
    .comment{
        .main-card{
            .prag{
                font-size: 1rem;
            }
            img{
                width: 4rem;
            }
            h6,span{
                font-size: .8rem;
            }
            h6{
                margin: 0;
            }
        }
    }
    // end comment
}

// start 991
@media (max-width: 991px) {

    // start nav
    nav {
        .icon-hed {
            display: none;
        }

        .con-icon {
            justify-content: space-between;
            list-style: none;
            display: inline;
            display: flex;
            padding: 0px;
            margin-top: 10px;
            width: 51px;
        }

    }

    // end nav
    // start home 
    .home {
        .bor::after {
            display: none;
        }

        .bor::before {
            display: none;
        }
    }

}
// end 991 ma

//start 1400 ma / 1200 mi

@media (max-width: 1400px) and (min-width: 1200px) {

    // start home
    .home {
        .bor::before {
            top: -46%;
            left: 74%;
            transform: rotate(304deg);
        }
    }

    // end home
    // start categor
    .categor {
        img {
            width: 80%;
        }
    }

    // end categor
}

//end 1400 ma / 1200 mi

//start 1200 ma / 767 mi
@media (max-width: 1200px) and (min-width: 766px) {

    // start home
    .home {
        .bor::before {
            top: -46%;
            left: 65%;
            transform: rotate(304deg);
        }
    }

    // end home
    // start categor
    .categor {
        img {
            width: 78%;
        }
    }

    // end categor
}

//end 1200 ma / 767 mi

// start 991 ma / 776 mi
@media (max-width: 991px) and (min-width: 766px) {

    // start home
    .home {
        .bor::after {
            left: -74%;
            top: 26%;
        }

        .bor::before {
            top: -38%;
            left: 61%;
            transform: rotate(309deg);
        }
        h1{
            font-size: 4rem;
        }
        .bor img {
            height: 117%;
        }
        .bor{
            width: 100%;
            height: 57%;
        }
    }

    // end home
}

// end 991 ma / 776 mi
