// start home
@use '../contant/var' as *;
@use '../contant/animation' as *;

body {
    height: 1000vh;
}

.home {
    background-color: $color-blue;
    border-radius: 15px;

    .searchBox {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        background: $color-white;
        border-radius: 50px;
        position: relative;
    }

    .searchButton {
        color: $color-black;
        position: absolute;
        right: 8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $color-blue;
        border: 0;
        display: inline-block;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    /*hover effect*/
    button:hover {
        color: #fff;
        background-color: $color-blue;
        box-shadow: rgba(68, 243, 255, 0.5) 0 10px 20px;
        transform: translateY(-3px);
    }

    /*button pressing effect*/
    button:active {
        box-shadow: none;
        transform: translateY(0);
    }

    .searchInput {
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: 15px;
        padding: 24px 46px 24px 26px;
    }




    .bor {
        width: 83%;
        height: 76%;
        border-top-left-radius: 59%;
        border-bottom-left-radius: 53%;
        border-top-right-radius: 47%;
        background-color: black;
        display: flex;
        align-items: flex-end;
        position: relative;
        justify-content: end;

        &::after {
            content: url(../img/Vector\ 186.png);
            position: absolute;
            left: -53%;
            top: 42%;
        }

        &::before {
            content: url(../img/Vector\ 187.png);
            position: absolute;
            top: -39%;
            left: 77%;
            transform: rotate(309deg);
        }

    }

    h1 {
        font-size: 4.5rem;
        font-family: system-ui;
    }

    .befor {
        position: relative;

        &::before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: $color-black;
            position: absolute;
            left: 75%;
        }
    }

    .icon-inp {
        background-color: $color-blue;
        width: 30px;
        height: 30px;
        margin-left: -40px;
        padding: auto;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// end home

// start menu
.menu {
    & h2 {
        font-size: 35px;
    }

    & p {
        font-size: 20px;
    }

    & button {
        color: $color-black;
    }

    & .card {
        transition: 1s;
        border: none;
        padding: 10px;
        margin: 1rem;

        &:hover {
            padding-top: 20px;
            transition: 1s;
            margin-top: -20px;
        }

        & p {
            color: $color-blak-rgba;
        }

        & h4 {
            padding: 0 {
                top: 10px;
            }

            ;
        }
    }
}

// end menu


// start about
.about {
    .card {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        // container img
        div {
            width: 75px;
            height: 75px;
            background-color: $color-blue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// end about


// start categor
.categor {
    .con-bor {
        background-color: $color-blue;
    }

    button {
        background-color: $color-white;
        color: $color-black;
    }

    // move img top -85
    .con-pa {
        margin-top: -85px;
    }
}

// end categor

// start comment
.comment {
    .main-card {
        border-radius: 8px;
        background-color: $color-blue;
    }

    img {
        width: 150%;
    }

    span {
        color: $color-blak-rgba;
    }
}

// end comment
// start footer
footer {
    background-color: $color-blue;
    p{
        color: $color-blak-rgba;
    }
    .con-li-1 {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            padding: 8px 12px;
            border-radius: 50%;
            margin: 0 5px;
            color: $color-black;
            transition: 1s;
            border: 1px solid $color-black;

            &:hover {
                margin-top: -10px;
                transition: .5s;
            }
        }
    }

    .con-li-2 {
        li {
            margin: 10px 0;

            a{
                color: $color-blak-rgba;
                transition: .3;

                &:hover {
                    color: $color-black;
                    transition: .3;
                }

                span {
                    color: $color-black;
                    font-size: 20px;
                }
            }
        }
    }

}

// end footer